@page "/store"
@using AspireDay.Domain.Features.Orders.CreateBuyOrder
@using AspireDay.Domain.Features.Orders.GetBuyOrders
@using AspireDay.WebApp.Clients
@using AspireDay.WebApp.Services
@using Mapster
@using Microsoft.AspNetCore.SignalR.Client
@inject StoreApiClient StoreApi
@inject ISessionService SessionService
@rendermode InteractiveServer

<PageTitle>Store</PageTitle>

<h1>Store</h1>

<p>Orders Request</p>

@if (_orders == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                <SfGrid TValue="GetBuyOrderResponse" DataSource="@_orders" AllowPaging="true" AllowFiltering="true" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
                    <GridEvents OnActionBegin="OnActionBegin" TValue="GetBuyOrderResponse"></GridEvents>
                </SfGrid>
            </div>
        </div>
    </div>
}

@code {
    private IEnumerable<GetBuyOrderResponse>? _orders;
    [SupplyParameterFromForm] public CreateBuyOrderModel? Model { get; set; } = new();
    private HubConnection? _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5064/Store")
            .Build();

        _hubConnection.On<string>("NotifyBuyOrder", async (orderId) => { await UpdateOrders(); });

        await _hubConnection.StartAsync();

        _orders = await StoreApi.GetBuyOrdersAsync(SessionService.UserId);
    }

    public async Task OnActionBegin(ActionEventArgs<GetBuyOrderResponse> args)
    {
        switch (args.RequestType)
        {
            case Syncfusion.Blazor.Grids.Action.BeginEdit:
                break;
            case Syncfusion.Blazor.Grids.Action.Add:
                args.Data.UserId = SessionService.UserId;
                args.Data.ProductId = Guid.NewGuid();
                break;
            case Syncfusion.Blazor.Grids.Action.Save:
                await StoreApi.CreateBuyOrderAsync(args.Data.Adapt<CreateBuyOrderModel>());
                break;
            case Syncfusion.Blazor.Grids.Action.Delete:
                await StoreApi.DeleteBuyOrderAsync(args.Data.OrderId);
                break;
        }
    }

    private async ValueTask UpdateOrders()
    {
        _orders = await StoreApi.GetBuyOrdersAsync(SessionService.UserId);
        await InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}